.bannerImg{
    width: 1990px;
    height: 900px;
}

/* .gameCardsHome{
    display: flex;
    flex-direction: row;
    padding-right: 600px;
}

.videoGameCards{
    margin-left: 200px;
} */

.carousel{
    margin-bottom: 30px;
}

.cards{
    margin-bottom: 30px;
}

.tables{
    
    display: flex;
    flex-direction: row;
    
}